<div class="containers">
<div class="container">
    <!-- <a routerLink="/Home">Go To Home Page</a> -->
    <button class="btn btn-primary" (click)="navigateHome()">Go To Home Page</button>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div>
        <h2 style="text-align: center; margin: 10px auto;">Our Team</h2>
    </div>

    <div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/assets/shopp.jpg" alt="jane" style="width: 100%;">
                    <div class="container">
                        <h3>Jane</h3>
                        <p class="title">CEO</p>
                        <p style="margin: 5px 0px; font-size: 14px;">Lorem ipsum, dolor sit amet consectetur.</p>
                        <p>ssrgmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="/assets/shopp.jpg" alt="jane" style="width: 100%;">
                    <div class="container">
                        <h3>Jane</h3>
                        <p class="title">CEO</p>
                        <p style="margin: 5px 0px; font-size: 14px;">Lorem ipsum, dolor sit amet consectetur.</p>
                        <p>gmail</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="/assets/shopp.jpg" alt="jane" style="width: 100%;">
                    <div class="container">
                        <h3>Jane</h3>
                        <p class="title">CEO</p>
                        <p style="margin: 5px 0px; font-size: 14px;">Lorem ipsum, dolor sit amet consectetur.</p>
                        <p>gmail</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>